.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1232px;
  height: 80px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__menu-icon:after,
.header__menu-icon span {
  background-color: var(--main-bg-color);
}

@media screen and (max-width: 1312px) {
  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 66px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    width: 90%;
    height: 56px;
    padding: 0;
  }

  .header__logo {
    font-size: 16px;
  }

  .header_mobile {
    width: 100%;
    height: fit-content;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: 56px repeat(2, min-content);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-text-color);
    border-radius: 0 0 16px 16px;
    z-index: 10;
  }

  .header_mobile::after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    top: 56px;
    left: 0;
    border-bottom: 1px solid var(--main-bg-color);
    opacity: 0.2;
  }

  .header__nav_mobile {
    grid-column: 1/3;
    display: grid;
    padding: 16px 0 0 0;
    margin: 0;
  }
}
